.title {
  font-family: var(--font-header);
  width: 230px;
  text-align: center;
  display: block;
  margin: 10vh auto -7vh;
  @media (min-width: 550px) {
    font-size: 3rem;
    width: 500px;
  }
}
