# http://editorconfig.org
root = true

[*]
indent_style = tab
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.js]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[**.scss,**.less]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[**.mustache]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
indent_style = tab
