<head>
	<title>Should I listen it?</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Luca Lischetti">
	<link type="text/plain" rel="author" href="http://shouldilisten.it/humans.txt" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="keywords" content="shouldilistenit, music, gig" />
	<meta name="description" content="Should I listen it set up you ready for your next Gig.It gives you the list of your favourite artists' most played tracks... in the last year of gigs." />
	<!--[if lt IE 9]>
		<script src="js/ext/html5shiv/index.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link rel="shortcut icon" href="/public/images/favicon.ico">
	<meta property="og:url" content="http://shouldilisten.it" />
	<meta property="og:description" content="Should I listen it set up you ready for your next Gig.It gives you the list of your favourite artists' most played tracks... in the last year of gigs." />
	<meta property="og:title" content="Should I listen it?" />
</head>
