<head>
	<title>Should I listen it?</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Luca Lischetti">
	<link type="text/plain" rel="author" href="http://sirlisko.com/humans.txt" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<meta name="keywords" content="shouldilistenit, music, gig" />
	<meta name="description" content="Should I listen set up you ready for your next Gig." />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>