<section class="message" itemprop="description">
	<p class="message__text message__header">
		<strong class="message__title keyword--main">Should I Listen it</strong>
		sets you up for your next <strong class="keyword--third">Gig</strong>.
	</p>
	<p class="message__text message__subtitle">
		It gives you the list of your favourite<br/>
		<strong class="keyword--second">artists' most played tracks...</strong><br/>
		in the last year of gigs.
	</p>
	<div class="message__loading keyword--second"></div>
</section>
