.container {
  background-color: #000;
  padding-bottom: 1rem;
}

.event {
  background-color: #000;
  max-width: 425px;
  margin: 0 auto;
  padding: 12px 5%;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.date {
  height: 60px;
  text-align: center;
  width: 60px;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.dateMonth {
  color: #fff;
  background-color: #d47069;
  font-size: 12px;
  line-height: 16px;
  padding: 1px;
}

.dateDay {
  color: #000;
  background-color: #f2f2f2;
  font-size: 20px;
  padding: 0.5rem;
}

.details {
  display: table-cell;
  line-height: 1.5;
  padding-left: 15px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  & p {
    overflow: hidden;
    padding: 3px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
  }
}

.venue {
  opacity: 0.7;
}
