@import "partials/reset";
@import "partials/generic";
@import "partials/icons";

@import "partials/search";
@import "partials/result";
@import "partials/track";


body {
	background-color: #e2e2e2;
	font-family: @main-font;
	margin: 0;
}
