@import "partials/icons";
@import "partials/generic";
@import "partials/reset";
@import "partials/input";
@import "partials/result";


body {
	background-color: #E2E2E2;
	font-family: @main-font;
	margin: 0;
}
