.loader {
  align-items: center;
  justify-content: center;
  margin-top: 50%;
  transform: translateY(50%);
}

.save-playlist {
  width: 100%;
  background: #1DB954;
  text-align: center;
  padding: 1rem;
  height: 78.5px;
  & svg {
    font-size: 3rem;
  }
}

.spotify-button {
  background-color: #000;
  border: none;
  color: #FFF;
  cursor: pointer;
  border-radius: 500px;
  font-size: inherit;

  padding: 14px 32px;
  &:hover {
    transform: scale(1.04);
  }
}

