@font-face {
  font-family: "oswald";
  src: url("../fonts/oswald/Oswald-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

$main-font: "oswald", Arial, sans-serif;

$mobile-trigger: 500px;
$desktop-trigger: 1000px;

svg {
	fill: currentColor;
}

@mixin ellipses(){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
