header {
	color: $main-dark;
	font-family: $font-header;
	font-size: 70px;
	line-height: 1.5;
	max-width: 700px;
	margin: 5vh auto;
	text-align: center;
	width: 90%;
	@media (max-width: $mobile-trigger) {
		font-size: 40px;
		max-width: 70%;
	}
}
