.result {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}

.result__credits {
	color: #777;
	font-size: 13px;
	margin: 10px;
}

.error {
	@include transform(translate(-50%));
	font-size: 30px;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
}
