.result {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}

.result__credits {
	color: #777;
	font-size: 13px;
	margin: 10px;
}

.error {
	font-size: 30px;
	line-height: 1.5;
	margin: 40vh auto;
	text-align: center;
	max-width: 90%;
	& b {
		font-weight: bold;
	}
}
