.search {
	background-color: #FFF;
	margin: 20vh auto;
	position: relative;
	width: 550px;
	@media (max-width: 550px) {
		width: 100%;
	}
}

.search input {
	-webkit-appearance: none;
	background-color: $background-light;
	border: none;
	border-bottom: solid 2px $background-light;
	border-radius: 0;
	display: block;
	font-family: $font-main;
	font-size: 40px;
	height: 70px;
	letter-spacing: 1px;
	line-height: 50px;
	margin: 0 auto;
	outline: none;
	padding: 0 45px 0 10px;
	transition: border 0.3s;
	width: 100%;
	@media (max-width: 550px) {
		font-size: 20px;
	}
	&::placeholder {
		color: $main-color;
		letter-spacing: 2px;
	}
	&:focus {
		border-color: $main-color;
		&::placeholder {
			opacity: 0.3;
		}
	}
}
.search--empty {
	border-color: $background-color;
}
.search--compact {
	margin: 0 auto;
	@media (max-width: 550px) {
		input {
			font-size: 40px;
		}
	}
}

.search__submit {
	background-color: $background-light;
	border: none;
	color: $main-color;
	cursor: pointer;
	font-size: 30px;
	height: 68px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	&:hover {
		transition: 0.5s;
		transform: translate(6px, 0px);
	}
}

.search--empty .search__submit {
	animation-name: shake;
	animation-duration: 1s;
	animation-fill-mode: both;
}
