@import "modern-css-reset";

:root {
  /* Fonts */
  --font-main: "Open Sans", sans-serif;
  --font-header: "Roboto", sans-serif;

  /* Colors */
  --background-light: #d8dbe2;
  --background-color: #a9bcd0;
  --background-dark: #373f51;
  --main-color: #58a4b0;
  --main-dark: #1b1b1e;
}

* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

body {
  background: linear-gradient(238.72deg, #ffe5c7 0%, #00c288 100%),
    radial-gradient(90.88% 100% at 50% 0%, #439246 0%, #183766 100%),
    linear-gradient(121.28deg, #ffeab6 0%, #003c2a 100%),
    radial-gradient(64.89% 100% at 50% 0%, #80baff 0%, #001e41 100%),
    linear-gradient(65.05deg, #6f0072 0%, #ffc700 100%);
  background-blend-mode: overlay, screen, color-burn, lighten, normal;
  font-family: var(--font-main);
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../concert.webp);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
    opacity: 0.05;
    filter: blur(3px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  article {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
  }
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
