@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }
}

.main-c::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../concert.webp);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: 0;
  opacity: 0.03;
  filter: blur(3px);
  pointer-events: none;
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
