@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3b82f6;
}

@layer components {
  .background {
    @apply main-c min-h-screen sm:bg-gradient-to-br from-green-400 via-blue-500 to-purple-600 flex flex-col items-center justify-center p-6 text-white;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }
}

.main-c::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../concert.webp);
  background-size: cover;
  background-position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 0.03;
  filter: blur(3px);
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .main-c::after {
    display: none;
  }
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
