@import "partials/reset";
@import "partials/generic";

@import "partials/home";
@import "partials/howTo";
@import "partials/footer";
@import "partials/result";
@import "partials/search";
@import "partials/track";

* {
	box-sizing: border-box;
}

body {
	background-color: $background-light;
	display: flex;
	font-family: $font-main;
	min-height: 100vh;
	flex-direction: column;
}

.main {
  flex: 1;
}
