.footer {
  background-color: var(--background-dark);
  font-size: 14px;
  & p {
    color: #e5e5e5;
    line-height: 1.5;
    padding: 20px;
    text-align: center;
  }
  & a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  & span {
    display: inline-block;
    white-space: nowrap;
  }
}
