.container {
  text-align: center;
  h3 {
    @media (min-width: 550px) {
      font-size: 2rem;
    }
  }
}

.list {
  padding: 0;
  width: 85%;
  margin: 1rem auto;
  max-width: 500px;
  li {
    margin-top: 2rem;
  }
  svg {
    font-size: 1.5rem;
  }
  span {
    display: block;
    font-size: 14px;
    margin-bottom: 0.5rem;
    @media (min-width: 550px) {
      font-size: 20px;
    }
  }
}
