.container {
  text-align: center;
  height: auto;
  background-size: cover;
}

.backbutton {
  position: absolute;
  font-size: 2rem;
  color: black;
  left: 1rem;
  top: 1rem;
}

.artist {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.button {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 500px;
  font-size: inherit;
  padding: 14px 32px;
  position: relative;
}
.button:hover {
  transform: scale(1.04);
}

.image {
  margin: 1rem auto;
}
