.error {
  font-size: 30px;
  line-height: 1.5;
  padding: 40vh 20px;
  text-align: center;
  & b {
    font-weight: bold;
  }
}

.loading {
  padding: 38vh 20px;
  & > div {
    justify-content: center;
  }
}
